html {
  font-size: 14px;
}
@media (min-width: 768px) {
  html {
    font-size: 16px;
  }
}

.container {
  max-width: 960px;
}

.pricing-header {
  max-width: 700px;
}

.card-deck .card {
  min-width: 220px;
}

/***Custom Modifications*****/
body{
	color: #870052;
}

.site-title{
	margin-left: auto!important;
}

.research .display-4{
	font-size: 1.2rem;
    font-weight: 500;
}

.research p{
	text-align: justify;
	font-size: 1rem;
}

.research p.small{
	font-size: 0.8rem;
	font-style: italic;
}

.research .consent-btn{
	/*
	color: #870052;
    display: block;
    border-color: #870052;
    */
    padding: 0.6rem 0.8rem;
}



/*
.research .consent-btn:hover{
	color: #ffffff;
    display: block;
    background-color: #870052;
    border-color: #870052;
}
*/


a.p-2.text-dark.active {
    font-weight: bold;
    font-family: cursive;
    font-size: x-large;
}

.profile-card .card-footer{
	background-color: transparent;
	border-top: none; 
}

.card-header .btn[aria-expanded="true"]{
	font-weight: bold;
}

.card-header .btn[aria-expanded="false"]{
	font-weight: normal;
}

.card-header .btn-link{
	color: #870052;
}

#ordersAccordion h4{
	padding: 0.75rem;
}
